<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-base"
        version="2.0.0">
    <name>Base Plugin</name>
    <description>
        This is Base plugin. It adds all the needed configuration to enable using BlackBerry Dynamics in your Cordova application. All the other BBDCordova plugins require the Base plugin to be installed.
    </description>
    <keywords>cordova,plugin,base,gd</keywords>
    <license>(c) 2017 BlackBerry Limited. All rights reserved.</license>
    <engines>
        <engine name="cordova-android" version=">=5.1.1"/>
        <engine name="cordova-ios" version=">=4.0.1"/>
    </engines>
    <hook type="after_plugin_add" src="scripts/hooks/checkIfConfigurePluginInstalled.js" />
</plugin>
