<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-push"
        version="1.0.1">

  <name>Push Plugin</name>

  <description>The Push plugin encapsulates the response returned from the GDPush class.</description>

  <keywords>cordova,plugin,push,gd</keywords>

  <license>(c) 2017 BlackBerry Limited. All rights reserved.</license>

  <info>
    The Push plugin is dependent on the Base plugin, so please make sure the Base plugin is installed correctly.
  </info>

  <dependency id="cordova-plugin-bbd-base" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-base" version="^2.0.0" />

  <engines>
    <engine name="cordova-android" version=">=4.0.0"/>
    <engine name="cordova-ios" version=">=3.8.0"/>
  </engines>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GDPush" >
          <param name="android-package" value="com.good.gd.cordova.plugins.push.GDPushPlugin"/>
          <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/android/GDPush.js" name="GDPushConnection">
      <clobbers target="window.plugins.GDPushConnection" />
    </js-module>

    <source-file src="src/android/libs/bbd-push.jar" target-dir="libs" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GDPush">
        <param name="ios-package" value="GDCPushPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/ios/GDPush.js" name="GDPushConnection">
      <clobbers target="window.plugins.GDPushConnection" />
    </js-module>

    <framework src="src/ios/frameworks/BbdPushPlugin.framework" custom="true" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
  </platform>

</plugin>
