<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-storage"
        version="1.1.0">

  <name>Storage Plugin</name>

  <description>The Storage plugin in an interface representing a secure file system and secure storage.</description>

  <keywords>cordova,plugin,storage,gd</keywords>

  <license>(c) 2017 BlackBerry Limited. All rights reserved.</license>

  <info>
    The Storage plugin is dependent on the Base plugin, so please make sure the Base plugin is installed correctly.
  </info>

  <dependency id="cordova-plugin-bbd-base" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-base" version="^2.0.0" />

  <engines>
    <engine name="cordova-android" version=">=4.0.0"/>
    <engine name="cordova-ios" version=">=3.8.0"/>
  </engines>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GDStorage" >
          <param name="android-package" value="com.good.gd.cordova.plugins.GDStoragePlugin"/>
          <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/android/GDFileReader.js" name="FileReader">
      <clobbers target="window.FileReader" />
    </js-module>

    <js-module src="assets/www/android/GDRequestFileSystem.js" name="requestFileSystem">
      <clobbers target="window.requestFileSystem" />
    </js-module>

    <js-module src="assets/www/android/GDResolveLocalFileSystemURI.js" name="resolveLocalFileSystemURI">
      <clobbers target="window.resolveLocalFileSystemURI" />
    </js-module>

    <js-module src="assets/www/android/GDSQLite3encImport.js" name="sqlite3enc_import">
      <clobbers target="window.sqlite3enc_import" />
    </js-module>

    <js-module src="assets/www/android/GDFileSystem.js" name="FileSystem">
      <clobbers target="window.FileSystem" />
    </js-module>

    <js-module src="assets/www/android/GDDirectoryEntry.js" name="DirectoryEntry">
      <clobbers target="window.DirectoryEntry" />
    </js-module>

    <js-module src="assets/www/android/GDDirectoryReader.js" name="DirectoryReader">
      <clobbers target="window.DirectoryReader" />
    </js-module>

    <js-module src="assets/www/android/GDFileEntry.js" name="FileEntry">
      <clobbers target="window.FileEntry" />
    </js-module>

    <js-module src="assets/www/android/GDFileWriter.js" name="FileWriter">
      <clobbers target="window.FileWriter" />
    </js-module>

    <js-module src="assets/www/android/GDFile.js" name="File">
      <clobbers target="window.File" />
    </js-module>

    <js-module src="assets/www/android/GDProgressEvent.js" name="ProgressEvent">
      <clobbers target="window.ProgressEvent" />
    </js-module>

    <js-module src="assets/www/android/GDLocalFileSystem.js" name="LocalFileSystem">
      <clobbers target="window.LocalFileSystem" />
    </js-module>

    <js-module src="assets/www/android/GDFileError.js" name="FileError">
      <clobbers target="window.FileError" />
    </js-module>

    <js-module src="assets/www/android/GDMetadata.js" name="Metadata">
      <clobbers target="window.Metadata" />
    </js-module>

    <js-module src="assets/www/android/GDStorage.js" name="localStorage">
      <clobbers target="window.localStorage" />
    </js-module>

    <source-file src="src/android/libs/bbd-storage.jar" target-dir="libs" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
    <hook type="before_plugin_uninstall" src="scripts/hooks/beforePluginRemove.js" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GDStorage">
        <param name="ios-package" value="GDCStoragePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/ios/GDFileReader.js" name="FileReader">
      <clobbers target="window.FileReader" />
    </js-module>

    <js-module src="assets/www/ios/GDRequestFileSystem.js" name="requestFileSystem">
      <clobbers target="window.requestFileSystem" />
    </js-module>

    <js-module src="assets/www/ios/GDResolveLocalFileSystemURI.js" name="resolveLocalFileSystemURI">
      <clobbers target="window.resolveLocalFileSystemURI" />
    </js-module>

    <js-module src="assets/www/ios/GDSQLite3encImport.js" name="sqlite3enc_import">
      <clobbers target="window.sqlite3enc_import" />
    </js-module>

    <js-module src="assets/www/ios/GDFileSystem.js" name="FileSystem">
      <clobbers target="window.FileSystem" />
    </js-module>

    <js-module src="assets/www/ios/GDDirectoryEntry.js" name="DirectoryEntry">
      <clobbers target="window.DirectoryEntry" />
    </js-module>

    <js-module src="assets/www/ios/GDDirectoryReader.js" name="DirectoryReader">
      <clobbers target="window.DirectoryReader" />
    </js-module>

    <js-module src="assets/www/ios/GDFileEntry.js" name="FileEntry">
      <clobbers target="window.FileEntry" />
    </js-module>

    <js-module src="assets/www/ios/GDFileWriter.js" name="FileWriter">
      <clobbers target="window.FileWriter" />
    </js-module>

    <js-module src="assets/www/ios/GDFile.js" name="File">
      <clobbers target="window.File" />
    </js-module>

    <js-module src="assets/www/ios/GDProgressEvent.js" name="ProgressEvent">
      <clobbers target="window.ProgressEvent" />
    </js-module>

    <js-module src="assets/www/ios/GDLocalFileSystem.js" name="LocalFileSystem">
      <clobbers target="window.LocalFileSystem" />
    </js-module>

    <js-module src="assets/www/ios/GDFileError.js" name="FileError">
      <clobbers target="window.FileError" />
    </js-module>

    <js-module src="assets/www/ios/GDMetadata.js" name="Metadata">
      <clobbers target="window.Metadata" />
    </js-module>

    <js-module src="assets/www/ios/GDStorage.js" name="localStorage">
      <clobbers target="window.localStorage" />
    </js-module>

    <framework src="src/ios/frameworks/BbdStoragePlugin.framework" custom="true" />
  </platform>

</plugin>
