<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-all"
        version="1.0.1">

  <name>BBD All Plugin</name>

  <description>The BBD All plugin installs all BBD Cordova plugins to the project.</description>

  <keywords>cordova,plugin,all,base,appkinetics,application,storage,filetransfer,httprequest,interappcommunication,push,serversideservices,specificpolicies,socket,sqlite,tokenhelper,xmlhttprequest</keywords>

  <license>(c) 2017 BlackBerry Limited. All rights reserved.</license>

  <dependency id="cordova-plugin-bbd-base" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-base" version="^2.0.0" />
  <dependency id="cordova-plugin-bbd-appkinetics" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-appkinetics" version="^1.1.0" />
  <dependency id="cordova-plugin-bbd-application" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-application" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-storage" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-storage" version="^1.1.0" />
  <dependency id="cordova-plugin-bbd-filetransfer" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-filetransfer" version="^1.1.0" />
  <dependency id="cordova-plugin-bbd-httprequest" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-httprequest" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-interappcommunication" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-interappcommunication" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-push" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-push" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-serversideservices" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-serversideservices" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-specificpolicies" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-specificpolicies" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-socket" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-socket" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-sqlite" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-sqlite" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-tokenhelper" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-tokenhelper" version="^1.0.1" />
  <dependency id="cordova-plugin-bbd-xmlhttprequest" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-xmlhttprequest" version="^1.1.0" />

  <engines>
    <engine name="cordova-android" version=">=4.0.0"/>
    <engine name="cordova-ios" version=">=3.8.0"/>
  </engines>

</plugin>
