.footer {
    padding: 0 !important;
    background-color: white !important;
    border-bottom: 1px solid #ECECEC;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 4px 0px #DDD;
}

.footer .input {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    height: 70px;
}

.add-button-container {
    display: flex;
    align-items: center;
    position: relative;
}

.add-button::before {
    content: "";
    position: absolute;
    top: -18px;
    right: 0;
    left: 0;
    bottom: -18px;
}

.input-control {
    flex: 1;
}

.footer .input::-webkit-input-placeholder,
.footer .input,
.footer .icon {
    color: #3273dc !important;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ECECEC;
    opacity: 0.25;
    z-index: 100;
    display: none;
}

/* .footer .input:active::-webkit-input-placeholder {
    color: #7DA1D8 !important;
} */