<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-specificpolicies"
        version="1.0.1">

  <name>SpecificPolicies Plugin</name>

  <description>The SpecificPolicies plugin is used to read application-specific policy from Good Control (GC) console and return it in JSON format.</description>

  <keywords>cordova,plugin,policy,specificpolicies,gd</keywords>

  <license>(c) 2017 BlackBerry Limited. All rights reserved.</license>

  <info>
    The SpecificPolicies plugin is dependent on the Base plugin, so please make sure the Base plugin is installed correctly.
  </info>

  <dependency id="cordova-plugin-bbd-base" url="/Users/thibaultzanini/Dev/todo-blackberry-dynamics/plugins/cordova-plugin-bbd-base" version="^2.0.0" />

  <engines>
    <engine name="cordova-android" version=">=4.0.0"/>
    <engine name="cordova-ios" version=">=3.8.0"/>
  </engines>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GDSpecificPolicies" >
          <param name="android-package" value="com.good.gd.cordova.plugins.policy.GDSpecificPoliciesPlugin"/>
          <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/android/GDSpecificPolicies.js" name="GDSpecificPoliciesPlugin">
      <clobbers target="window.plugins.GDSpecificPolicies" />
    </js-module>

    <source-file src="src/android/libs/bbd-specificpolicies.jar" target-dir="libs" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GDSpecificPolicies">
        <param name="ios-package" value="GDSpecificPoliciesPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/ios/GDSpecificPolicies.js" name="GDSpecificPoliciesPlugin">
      <clobbers target="window.plugins.GDSpecificPolicies" />
    </js-module>

    <framework src="src/ios/frameworks/BbdSpecificPoliciesPlugin.framework" custom="true" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
  </platform>

</plugin>
