.footer {
    padding: 1rem 1rem !important;
    background-color: white !important;
    border-top: 2px solid #ECECEC;
    max-height: 70px;
}

.footer .input {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.input-control {
    flex: 1;
}

.footer .input:not(:active)::-webkit-input-placeholder,
.footer .input:not(:focus)::-webkit-input-placeholder,
.footer .input:not(:hover)::-webkit-input-placeholder,
.footer .icon,
.footer .input {
    color: #3273dc !important;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ECECEC;
    opacity: 0.25;
    z-index: 100;
    display: none;
}

/* .footer .input:active::-webkit-input-placeholder {
    color: #7DA1D8 !important;
} */