.Main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.main-content {
    background-color: #F8F8F8;
    position: absolute;
    top: 175px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.button.is-white:hover, .button.is-white.is-hovered {
    background-color: transparent !important;
}

.subsitution {
    max-height: 100%;
    overflow: auto;
}

.about {
    padding: 12px;
    text-align: center;
}

.about .title {
    padding: 8px 12px;
}
