<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-sqlite"
        version="1.0.1">

  <name>SQLite Plugin</name>

  <description>The SQLite plugin is a Secure Database object. Use this Object to manipulate the data.</description>

  <keywords>cordova,plugin,sqlite,gd</keywords>

  <license>(c) 2017 BlackBerry Limited. All rights reserved.</license>

  <info>
    The SQLite plugin is dependent on the Base plugin, so please make sure the Base plugin is installed correctly.
  </info>

  <dependency id="cordova-plugin-bbd-base" url="/Users/thibaultzanini/Desktop/BlackBerry_Dynamics_SDK_for_Cordova_v3.3.0.119/plugins/cordova-plugin-bbd-base" version="^2.0.0" />

  <engines>
    <engine name="cordova-android" version=">=5.1.1"/>
    <engine name="cordova-ios" version=">=4.0.1"/>
  </engines>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GDSQLite" >
          <param name="android-package" value="com.good.gd.cordova.plugins.database.GDSQLitePlugin"/>
          <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/android/GDSQLite.js" name="GDSQLitePlugin">
      <clobbers target="window.openDatabase" />
    </js-module>

    <source-file src="src/android/libs/bbd-sqlite.jar" target-dir="libs" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GDSQLite">
        <param name="ios-package" value="GDCSQLitePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <js-module src="assets/www/ios/GDSQLite.js" name="GDSQLitePlugin">
      <clobbers target="window.openDatabase" />
    </js-module>

    <framework src="src/ios/frameworks/BbdSQLitePlugin.framework" custom="true" />

    <hook type="after_plugin_install" src="scripts/hooks/afterPluginInstall.js" />
  </platform>

</plugin>
